:root{
    --accent-color:#FF6D00;
    --primary-text-light: #FFFFFF;
    --secondary-text-light: rgba(255, 255, 255, 0.7);
    --primary-text-dark: rgba(0, 0, 0, 0.87);
}
* {
  font-family: 'Roboto', sans-serif;
}
a {
  color: var(--accent-color);
}
body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-image: url('https://github.com/LexussD/lexussd.github.io/blob/rewrite/assets/screenshot-min.png?raw=true');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.side-nav {
  position: fixed !important;
  margin: 16px;
  bottom: 50vh
}
.side-nav a {
  font-size: 1.5em !important;
  margin: 8px;
  width: 1.5em;
  height: 1em;
  display:block;
  text-align:left;
  white-space:normal;
  float:none;
  text-decoration: none;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: clip;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}
.side-nav a:hover {
  width: 100%;
}
.side-nav a:focus {
  width: 100%;
}
.active-list-item {
  color: var(--primary-text-light) !important;
}
.inactive-list-item {
  color: var(--secondary-text-light) !important;
}
.foreground-item {
  background: #424242 !important;
  border-right: 0px !important;
}
.primary-text {
  color: #FFFFFF !important;
  font-size: 4em;
  padding: 16px;
}
.viewport-size {
  width:  100vw;
  height: 100vh;
}
#lexussrealms-text {
  top: 20%;
}
#faq-header {
  top: 215%;
}
#faq-questions {
  top: 250%;
  margin-right: 16px;
  margin-left: 32px;
}
#arrow-down-container {
  top: 90%;
}
#arrow-down {
  width: 5vw;
}
#play-button {
  top: 70%;
}
#play-button:hover {
  cursor:pointer;
}
.center-horizontal {
  position: absolute !important;
  left: 50% !important;
  margin-right: -50% !important;
  transform: translate(-50%, -50%) !important;
}
.secondary-text {
  color: rgba(255, 255, 255, 0.7) !important;
  font-family: 'Noto Sans', sans-serif !important;
  font-size: 1.5em;
  padding: 16px;
}
.hover-effect:hover {
  background: #4F4f4f !important;
}
.viewport-size {
  height: 100vh;
  width: 100vw;
}
#lexussrealms {
  background: rgba(63, 16, 71, 0.7);
}
#discord {
  background: rgba(114, 137, 218, 0.7);
}
#faq {
  background: rgba(255, 109, 0, 0.7);
}
#discord-widget {
  top: 150%;
  width: 50vw;
  height: 70vh
}
#contact-staff {
  background: rgba(213, 0, 0, 0.7);
}
#contact-staff-header {
  top: 315%
}
#staff-names {
  top: 350%;
  margin-right: 16px;
  margin-left: 32px;
}
.button {
  border-radius: 4px;
  background-color: rgba(	255, 109, 0, 0.8);
  border: none;
  color: var(--primary-text-light);
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.button:hover {
    outline: none;
    background-color: var(--accent-color)
}
.button:focus {
    background-color: var(--accent-color)
}
