body {
  background: #f5f5f5;
}
.full-background {
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lexussrealms-logo {
  background-image: url("assets/lexussrealms-min.png");
}
